body{
    background-image: url(./assets/bg-intro-desktop.png);
    background-color: #ff7a7a;
    height: 100vh;
    display: flex;
}

.Left_Columm{
    width: 50%;
    overflow: auto;
    margin: auto;
    padding-left: 100px;
    overflow: hidden;
}

.Left_Columm h1 {
    color: white;
    line-height: 21px;
    font-size: 55px;
    font-weight: 700;
}

.Left_Columm p{
    color: white;
    padding-right: 250px;
    font-size: large;
}
